{% extends 'mailing/base.html' %}

{% block content_block %}

<div class="row">
    <div class="col-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{object.newsletter}}</h5>
                <h5 class="card-title">{{object.datetime_send}}</h5>
                <p class="card-text">{{object.status}}</p>
                <p class="card-text"><small class="text-body-secondary">{{object.server_answer}}</small></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}