{% extends 'mailing/base.html' %}

{% block content_block %}

<div class="row">
    <div class="col-6">
        <div class="card mb-3">
            <div class="card-body">
                <h1 class="card-title">Theme: {{newsletter.theme_massage}}</h1>
                <h2 class="card-text">Massage: {{object.theme_massage}}</h2>
                <h4 class="card-title">Send start: {{newsletter.send_time_start}}</h4>
                <h5 class="card-text">Last time send: {{newsletter.last_send_time}}</h5>
                <p class="card-text"><small class="text-body-secondary">{{object.period}}</small></p>
                <p class="card-text"><small class="text-body-secondary">{{object.status}}</small></p>
                <p class="card-text"><small class="text-body-secondary">{{object.user}}</small></p>
                {% for client in object.clients.all%}
                <p class="card-text"><small class="text-body-secondary">{{client.email}}</small></p>
                {% endfor %}
                <a href="{% url 'mailing:newsletter_delete' pk=object.pk %}" class="btn btn-danger">
                    Delete
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}