{% extends 'mailing/base.html' %}

{% block content_block %}

<div class="row">
    {% for newsletter in newsletter_list %}
    <div class="card mb-3 col-4" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">Theme: {{newsletter.theme_massage}}</h2>
                    <h3 class="card-title">Start of send: {{newsletter.send_time_start}}</h3>
                    <h5 class="card-text">Status: {{newsletter.status}}</h5>
                    <h5 class="card-text">Last time send: {{newsletter.last_send_time}}</h5>
                    <p class="card-text"><small class="text-body-secondary">Created by:
                        {{newsletter.user|default:"Nobody"}} </small></p>
                    {% if user.role == 'Moderator' %}
                    <a href="{% url 'mailing:newsletter_moderator_update' pk=newsletter.pk %}" class="btn btn-primary" tabindex="-1"
                       role="button" aria-disabled="true">Newsletter info</a>
                    {% else %}
                    <a href="{% url 'mailing:newsletter_view' pk=newsletter.pk %}" class="btn btn-primary" tabindex="-1"
                       role="button" aria-disabled="true">Newsletter info</a>
                    {% endif %}
                    <a href="{% url 'mailing:lognewsletter_list' pk=newsletter.pk %}" class="btn btn-secondary" tabindex="-1"
                       role="button" aria-disabled="true">Newsletter Log</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}